body {
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	margin: 0 auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	
}
a, a:hover, a:active, a:selected {
	text-decoration: none;
	color: #428bca;
}

.page-header {
	text-align: left;
	border: none;
}

.page-header h1, .page-header h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 4em;
	color: #999;
}

.page-header h2 {
	font-weight: 100;
	font-size: 2em;
}
.container {
	width: 1050px; /* -> 1020 after margins */
}



.populationEntropy > span {
	border-bottom: 2px solid #FF0000;
}

.founderMutationCount > span {
	border-bottom: 2px solid #0000FF;
}

.averageMutationCount > span {
	border-bottom: 2px solid #00CD00;
}

.populationFitness > span {
	border-bottom: 2px solid #EEEE00;
}

.growthTime > span {
	border-bottom: 2px solid #A020F0;
}

.selfSimilarity > span {
	border-bottom: 2px solid #FFA500;
}
					
					

#details {
	margin-top: 0px;
}

/*
svg {
	 background: #eeeeee;
}
*/

g.boxes {
	fill: green;
}

.button a, .button .label {
	font-size: 14px;
	border-radius: 25px;
	width: 50px;
	height: 50px;
	line-height: 50px; 	/* some as parent height, https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align*/
	padding: 0;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	transition: background 0.3s linear;
    -moz-transition: background 0.3s linear; /* Firefox 4 */
    -webkit-transition: background 0.3s linear; /* Safari and Chrome */
}


/* Buttons */

/* float off... */
.btn-toolbar .btn-group {
	float: none;
}
/* center on... */
.btn-toolbar {
	text-align: center;
}

.btn-default, .btn-default:hover, .btn-default:active, .open .dropdown-toggle.btn-default {
	color: #428bca;
	font-weight: 100;
	border-radius: 0px;
/*	border: 1px #e7e7e7 solid; */
	border: none;
	box-shadow: none;
	background: #f6f6f6;
}

#f .dropdown-toggle, #d .dropdown-toggle{
	min-width: 55px;
}

#s .btn-default, #r .btn-default {
	min-width: 50px;
}
#f .btn-default {
	min-width: 70px;
}

.btn-default:hover, .btn-default:active {
	background: #e7e7e7;
	color: #428bca;
}


.btn-default.active {
	background: #e7e7e7;
	color: #428bca;
/*	border: 1px #e7e7e7 solid; */
	border: none;
	font-weight: 700;
	box-shadow: none;
}

.btn-default > span {
}


.btn-label, .btn-label:hover, .btn-label:active, .btn-label.active  {
/*	color: #428bca; */
	color: #999;
	background: none;
	font-weight: 700;
	font-style: oblique;
	border-radius: 0px;
/*	border: 1px #e7e7e7 solid; */
	border: none;
	box-shadow: none;
	background: #f6f6f6;
}
 
/* #f, #d */
.dropdown-menu > li > a {
	color: #428bca;
	background: #fff;
}

.dropdown-menu > li > a:hover {
	color: #428bca;
	background: #f6f6f6;
}

.dropdown-menu, .dropdown-menu li {
	min-width: 20px;
}




.axis path,
.axis line {
  fill: none;
  stroke: #666;
}

.axis text {
	font-size: 10px;
	fill: #666;
}

img {
	width: 100%;
}
.results {
	margin-top: 10px;
	margin-bottom: 50px;
}

.results a {
	text-decoration: none;
}

.results > div {
	margin-left: 28px;
	padding: 0px;
}

.results img {
	width: 45%;
	display: inline;
}

.line {
	height: 4px;
	width: 100%;
	background: #fff;
	margin-top: 8px;
}

.details {
	display: none;
}

.details img {
	width: 100%;
}

.caption, .values {
	text-align: center;
}

.caption {
	margin-bottom: 30px;
}

.tab-pane {
	margin-top: 10px;
}

/* svg */

.tick line, .tick text {
	
	stroke: #999;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
.indicators rect {
	fill: #999;
}

.legend circle {
	fill: none
}
.legend text, text.legend {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	fill: #999;
}

text.legend {
	font-style: oblique;
}



/* Overview Tab */
#overview, #details {
	margin-top: 10px;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #aaa;
}

.box .median {
	stroke-width: 2px;
}


.axis path, .axis line {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  color-rendering: optimizeQuality !important;
  shape-rendering: crispEdges !important;
  text-rendering: geometricPrecision !important; 
}

text.whisker {
	stroke-width: 0
}


#abs {
	margin-left: 1em;
}

.btn-group#settings {
	margin-left: 1em;
}

#panel-settings {
	display: none;
}

/* statistics background highlight */
.background-highlight {
	display: none;
	fill: #f3f3f3;
}
	